<div class='page-header'>
  <h1>Assignments</h1>
</div>

<%if current_user.admin?%>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAssignmentForm">
  Create new assignment
</button>
<%end%>

<table class='table'>
  <thead>
    <tr>
      <th>Assignment title</th>
      <th>Description</th>
      <th>Due date</th>
      <% if current_user.admin? %>
        <th>View assignment submisions</th>
        <th>Edit</th>
      <% else %>
        <th>Work on assignment</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <%= assignment.title %>
        </td>
        <td>
          <%= assignment.description.html_safe %>
        </td>
        <td>
          <% #assignment.due_date.strftime("%A, %B %d at %I:%M %p") 
          %>
        </td>
        <td>
          <% if current_user.admin? %>
            <%= link_to 'View All Submissions', summary_path(assignment) %>
          <% else %>
            <%= link_to 'Go to assignment', assignment_path(assignment)+"/"+current_user.id.to_s %>
          <% end %>
        </td>
        <% if current_user.admin? %>
          <td>
            <!-- <button class='btn btn-primary'>Edit</button> -->
             <%= link_to 'Edit', edit_assignment_path(assignment) %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>

<h2>Quick add steps</h2>
<p>To add steps directly during your research without having to navigate to this website, follow these steps:</p>
<ol>
  <li>Click and drag this button to your bookmarks bar: <a href="javascript:(function(){var url= encodeURIComponent(location.href);var title= encodeURIComponent(document.title);open('<%= bookmarklet_url %>?url='+url+'&title='+title,'DHBookmarklet','height=500,width=500');})()" class='btn btn-primary'>Add step</a></li>
  <li>Click the newly added link any time you are on a site you wish to add as a step</li>
  <li>Select the assignment you working on, fill out, and submit the form. Your step will be saved to this website.</li>
</ol>



<!-- Modal -->
<div class="modal fade" id="newAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">New assignment</h2>
      </div>
      <div class="modal-body">
        <% @assignment=Assignment.new %>

      <%= form_for(@assignment, :html=>{:class=>"form-horizontal"}) do |f| %>

          <div class="form-group">
            <%= f.label :title, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_field :title, class:'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_area :description, class:'wysihtml5 form-control' %>
            </div>
          </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
    $('#assignment_due_date').datetimepicker();
  })
</script>
          <div class="form-group">
            <%= f.label :due_date, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.datetime_select :due_date%>
            </div>
          </div>
    
</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="editAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="editAssignmentForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Edit assignment</h2>
      </div>
      <div class="modal-body" id="editFormContainer">
    </div>
  </div>
</div>
</div>