<%= form_for(@path_comment) do |f| %>
  <% if @path_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@path_comment.errors.count, "error") %> prohibited this path_comment from being saved:</h2>

      <ul>
      <% @path_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submission_id %><br>
    <%= f.number_field :submission_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :present %><br>
    <%= f.check_box :present %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
