<div class='page-header'>
  <h1>Assignments</h1>
</div>

<%if current_user.admin?%>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAssignmentForm">
  Create new assignment
</button>
<%end%>

<table class='table'>
  <thead>
    <tr>
      <th>Assignment title</th>
      <th>Description</th>
      <th>Due date</th>
      <% if current_user.admin? %>
        <th>View assignment submisions</th>
        <th>Edit</th>
      <% else %>
        <th>Work on assignment</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <%= assignment.title %>
        </td>
        <td>
          <%= assignment.description.html_safe %>
        </td>
        <td>
          <%= assignment.due_date.strftime("%A, %B %d at %I:%M %p") %>
        </td>
        <td>
          <% if current_user.admin? %>
            <%= link_to 'View All Submissions', summary_path(assignment) %>
          <% else %>
            <%= link_to 'Go to assignment', assignment_path(assignment)+"/"+current_user.id.to_s %>
          <% end %>
        </td>
        <% if current_user.admin? %>
          <td>
            <!-- <button class='btn btn-primary'>Edit</button> -->
             <%= link_to 'Edit', edit_assignment_path(assignment) %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>





<!-- Modal -->
<div class="modal fade" id="newAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">New assignment</h2>
      </div>
      <div class="modal-body">
        <% @assignment=Assignment.new %>

      <%= form_for(@assignment, :html=>{:class=>"form-horizontal"}) do |f| %>

          <div class="form-group">
            <%= f.label :title, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_field :title, class:'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.text_area :description, class:'wysihtml5 form-control' %>
            </div>
          </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>

          <div class="form-group">
            <%= f.label :due_date, class:'control-label col-md-2' %>
            <div class='col-md-10'>
              <%= f.datetime_select :due_date, {},{class:'form-control pull-left'} %>
            </div>
          </div>

          <!--<div class="form-group">
            <%= f.label :due_date, class:'control-label col-md-2' %>
             
              
              <div class='col-md-10'>
                <div class='input-group date' id='due_date'>
                <%= f.datetime_field :due_date, class:'form-control', :as => :datetime_picker %>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>

 
       <script type="text/javascript">
            $(function () {
                $('#due_date').datetimepicker();
            });
        </script> -->
    
</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="editAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="editAssignmentForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Edit assignment</h2>
      </div>
      <div class="modal-body" id="editFormContainer">
    </div>
  </div>
</div>
</div>