<div class="row">
	<div class="col-md-4">
		<h2><%=@assignment.title%></h2>
		<h2><%=User.find(params[:assignment_author]).name%></h2>
		<ul>
			<%@steps.each do |step| %>
				<li><%= link_to(step.title, assignment_path(@assignment.id)+"/"+params[:assignment_author]+"/"+step.id.to_s)%></li>
			<%end%>
		</ul>
	<button class="btn btn-primary">Show Successful Path</button>
	<%if current_user.id.to_s == params[:assignment_author]%>
	<%= link_to("Add New Step", assignment_path(@assignment.id)+"/"+params[:assignment_author], class: 'btn btn-primary')%>
	<%end%>
	<%if current_user.admin?%>
		<%=form_for(@path_comment) do |f|%>
			<%=f.hidden_field :user_id, value: current_user.id%>
			<%=f.hidden_field :assignment_author, value: params[:assignment_author]%>
			<%=f.hidden_field :assignment_id, value: @assignment.id%>
			<br>
			<div class="form-group">
			<%=f.text_area :text, class:'form-control'%>
		</div>
			<%=f.hidden_field :present, value: false%>
			<%=f.submit "Save Comment", class:'btn btn-primary'%>
		<%end%>
	<%end%>
	</div>
	<div class='col-md-8'>
		<%=form_for(@step) do |f|%>
			<%=f.hidden_field :user_id, value: params[:assignment_author]%>
			<%=f.hidden_field :assignment_id, value: @assignment.id%>
		<div class='form-group'>
					<label class='control-label col-md-2'>Title</label>
					<div class='col-md-10'>
						<%=f.text_field :title%>
					</div>
				</div>
			<div class='col-md-6'>
				<div class='form-group'>
					<label class='control-label col-md-2'>URL</label>
					<div class='col-md-10'>
						<%=f.text_field :url%>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2'>Page I came from</label>
					<div class='col-md-10'>
						<%=f.collection_select(:parent_id, @steps.all, :id, :title)%>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-md-12'>
						<span class='thumbnail'>
							<img src='https://placeholdit.imgix.net/~text?txtsize=33&txt=screenshot&w=350&h=300'>
						</span>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='form-group checkbox'>
					<label>
						<input type='checkbox'> This is the document I was looking for
					</label>
				</div>
				<div class='form-group checkbox'>
					<label>
						<input type='checkbox'> Add to favorites
					</label>
				</div>
				<div class='form-group'>
					<div class='form-group'>
					<label class='col-md-12'>Justification</label>
					<div class='col-md-12'>
						<textarea class='form-control' rows='10'></textarea>
						</div>
					</div>
				</div>
			</div>
			<%if current_user.id.to_s == params[:assignment_author]%>
			<%=f.submit "Save"%>
			<%end%>
			<%end%>
			<div class='col-md-12'>
				<ul class='pager'>
					<li><a href='#'>Previous</a></li>
					<li><a href='#'>Next</a></li>
				</ul>
			</div>


